<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo"><h1>산업대학교</h1></div>
        <div class="nav">
            <div class="s1">대학소개</div>
            <div class="s2">입학안내</div>
            <div class="s3">정보서비스</div>
            <div class="s4">커뮤니티</div>
        </div>
    </header>
    <main>
        <section>
            <article>
                <div class="slider__text">
                    <h2>미래를 이끄는 열정</h2>
                    <p>산업대학교</p>
                </div>
            </article>
            <article>
                <div class="notice"></div>
            </article>
        </section>
    </main>
    <footer></footer>
</body>
</html>