@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 300;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 400;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 700;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 800;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 900;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.ttf') format("truetype");
    font-display: swap;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "NanumSquareNeo";
}
body {
    width: 100%;
    background-color: #e6dbcf;
    color: #363636;
    margin: 30px 20px;
}
li, ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.blind {
    display: none;
}
.search__list > .active {
    background-color: #363636;
    color: #fff;
}
.line1 {
    width: 100%;
    border-top: 3px solid #363636;
    border-bottom: 3px solid #363636;
}

.wrap {
    width: 1400px;
    margin: 0 auto;
}

/* #header */
#header {
    width: 100%;
    display: flex;
}
#header h1 {
    width: 50%;
    padding: 15px 0;
}
#header h1 span {
    display: block;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 5px;
}
#header h1 a {
    font-weight: 800;
    font-size: 50px;
    color: #363636;
}
#header nav {
    width: 50%;
    padding: 15px;
    font-size: 22px;
}
#header nav ul {
    display: flex;
    justify-content: space-between;
}
#header nav li {
    margin-left: 20px;
}
#header nav li a {
    color: #363636;
}

/* main */
/* search__title */
.search__head {
    width: 50%;
}
.search__title{
    margin-top: 20px;
    margin-bottom: 40px;
}
.search__title span {
    display: block;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 5px;
    margin-bottom: 25px;
}
.search__title h1 {
    font-family: "LotteriaDdag";
    src: url("https://webfontworld.github.io/LotteriaDdag/LotteriaDdag.css");
    font-weight: normal;
    font-size: 110px;
    letter-spacing: 10px;
    line-height: 1.1;
}

/* search__box */
.search__box {
    padding: 25px;
    width: 100%
}
.search__box .circle {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background-color: #363636;
}
.search__box .circle2 {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background-color: #363636;
}
.search__box .circle2::after {
    position: absolute;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    left: 30px;
    border: 0;
    border-radius: 50%;
    background-color: #363636;
}
.search__box input {
    width: 45%;
    height: 50px;
    margin-top: 25px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #363636;
}
.search__box input::-webkit-input-placeholder {
    font-size: 90%;
    padding: 0;
    margin: 0;
    color: #363636;
}
.search__box input:hover, .search__box input:focus, .search__box input:active {
    outline: none;
    border-bottom: 2px solid #363636;
}
/* #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 35px;
}
#header a {
    font-family: "LotteriaDdag";
}
#header nav {
} */
/* #header nav ul {
    display: flex;
    padding: 20px 10px 10px 10px;
    margin: 5px;
} */
/* #header nav li {
    display: inline;
    position: relative;
}
#header nav li a{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 0;
    border: 1px solid #2ea2d8;
    color: #2ea2d8;
    text-align: center;
    line-height: 35px;
    margin: 0 5px;
}
#header nav li.active a {
    background-color: #2ea2d8;
    color: #fff;
}

.search_head {
    background-color: #52c4f8;
    text-align: center;
    padding: 40px;
    color: #fff;
}
.search__title span {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 2px;
} */

/* .search__box input {
    width: 400px;
    height: 45px;
    border: 2px solid #1eaaeb;
    margin-bottom: 5px;
    padding: 18px;
}
.search__box input::placeholder {
    font-size: 16px;
}
.search__box p {
    margin-top: 10px;
}
.search__box p em {
    text-decoration: underline;
    text-underline-position: under;
    font-style: normal;
}
.search__select {
    margin: 30px 0 20px 0;
}
.search__select span {
    padding: 10px;
    border: 1px solid #1eaaeb;
}
.search__select span:hover {
    background-color: #fff;
    color: #1eaaeb;
}

.search__info {
    display: block;
    top: 0;
    right: 0;
    
}

.search__list li.show {
    display: block;
}
.search__list li.hide {
    display: none;
}

#footer {

} */


/* script */
.search__list li.show {
    display: block;
}

.search__list li.hide {
    display: none;
}