@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HakgyoansimBunpilR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimBunpilR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HakgyoansimDoldamB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimDoldamB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'JeonHwaseon';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/JeonHwaseon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
}
.quiz__bg {
    background-color: #204C2A;
    width: 96%;
    height: 95vh;
    margin: 20px auto;
    border-radius: 20px;
    position: relative;
}
#aside {
    display: flex;
    justify-content: space-between;
}
.aside__left {
    position: absolute;
    width: 20%;
}
.aside__left .container {
    padding: 10px 50px;
}
.aside__right {
    position: absolute;
    width: 20%;
}
.aside__right .container {
    padding: 10px 50px;
}

/* main */
#main {
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    z-index: 1000;
}
.quiz__header {
    width: 1120px;
    height: 79px;
    border-radius: 20px;
    background-color: #fff;
}
.quiz__main {
    
}
.quiz__img {
    width: 50px;
    height: 50px;
}
.quiz__img .img {
    width: 50%;
}