#wrap {
    width: 100%;
    height: 100vh;
}
#wrap.bg01 {
    background-image: url(../img/bg01.jpg);
    background-size: cover;
    background-position: center center;
}
#wrap .room {
    position: absolute;
    width: 40vw;
    height: 72vh;
    background-image: url(../img/room.png);
    background-size: cover;
    background-position: center center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon__menu .iconMusic img {
    position: absolute;
    width: 5%;
    top: 57.5%;
    left: 44.5%;
}

/* musicWrap */
#musicWrap {
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 20%;
    height: 80%;
    background-color: #fff;
}

.music__inner {

}