/* header */
#profil__img {
    margin-top: 62px;
}

#profil__img ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 78px;
}

#profil__img .header__img {
    width: 4vw;
    height: 4vw;
    border-radius: 80px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: all 0.5s ease-in-out;
}

#img1.header__img {
    background-image: url(../img/head__img05.jpg);
}

#img1.header__img.on {
    background-image: url(../img/head__img06.jpg);
}

#img2.header__img {
    background-image: url(../img/head__img03.jpg);
    margin: 0 13px;
}

#img2.header__img.on {
    background-image: url(../img/head__img04.jpg);
}

#img3.header__img {
    background-image: url(../img/head__img01.jpg);
}

#img3.header__img.on {
    background-image: url(../img/head__img02.jpg);
}

/* nav */
#parallax__nav {
    position: fixed;
    left: 80px;
    top: 62px;
    z-index: 1000;
    background-color: rgba(252, 232, 210, 0.45);
    backdrop-filter: blur(20px);
    border-radius: 100px;
    padding: 0.4vw 0.8vw;
}

#parallax__nav ul {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

#parallax__nav li {
    display: inline;
}

#parallax__nav li a {
    display: inline-block;
    padding: 0px 19px;
    font-size: 1.2vw;
    font-weight: 500;
    display: flex;
    align-items: center;
    line-height: 1;
    transition: all 0.3s;
    color: #5F45F2;
}

#parallax__nav li a.active {
    background-color: var(--primarycolor);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 50px;
}

#parallax__nav li.title a {
    font-size: 2vw;
    font-weight: 600;
    padding: 20px 30px;
}

/* main */
#main {
    overflow: hidden;
}

/* section1 */
#section1 {
    display: flex;
    justify-content: center;
    height: calc(100vh - 118px);
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 15vh;
}

#section1 h1 {
    font-family: "Playfair Display";
    font-size: 12vw;
    color: #6B51FE;
    line-height: 1.2;
    cursor: default;
    /* position: relative; */
}

/* #top h1::before {
    content: 'Incredorable';
    font-size: inherit;
    position: absolute;
    left: 4px;
    top: 0px;
}

#top h1::after {
    content: 'Incredorable';
    font-size: inherit;
    position: absolute;
    left: 2px;
    top: 0px;
} */

#section1 .tooltip {
    position: relative;
    display: block;
}

#section1 .tooltip .sticker {
    font-family: var(--mainEng-font);
    color: var(--primarycolor);
    font-weight: 500;
    font-size: 1.2vw;
    border-radius: 15px;
    padding: 0.68vw 0.8vw;
    height: 2.5vw;
    text-align: center;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

#section1 .tooltip .sticker01 {
    top: 70%;
    left: 2%;
    width: 9vw;
    transform: rotate(-10deg);
    background-color: #FFADAD;
    position: absolute;
    z-index: 1;
}

#section1 .tooltip .sticker02 {
    top: -50%;
    right: 10%;
    width: 9.1vw;
    transform: rotate(-9deg);
    background-color: #FFC48C;
    position: absolute;
    z-index: 1;
}

#section1 .tooltip .sticker03 {
    top: 147%;
    left: 24%;
    width: 7vw;
    transform: rotate(4deg);
    background-color: #FFE375;
    position: absolute;
    z-index: 1;
}

#section1 .tooltip .sticker04 {
    top: 72%;
    left: 42%;
    width: 7vw;
    transform: rotate(7deg);
    background-color: #96F1C6;
    position: absolute;
    z-index: 1;
}

#section1 .tooltip .sticker05 {
    bottom: -72%;
    right: -7%;
    width: 10.2vw;
    transform: rotate(-8deg);
    background-color: #9DECFA;
    position: absolute;
    z-index: 1;
}

#section1 .tooltip:hover .sticker {
    opacity: 1;
}

#section1 .desc {
    display: flex;
    width: 74vw;
    line-height: 1.6;
    flex-direction: column;
    align-items: flex-end;
}

#section1 .desc p {
    display: block;
    font-size: 1.5vw;
    font-weight: 400;
    color: var(--primarycolor);
    text-align: right;
}

@media (max-width: 1040px) {
    #profil__img ul {
        margin-right: 65px;
    }

    #profil__img .header__img {
        width: 50px;
        height: 50px;
    }

    #parallax__nav {
        left: 55px;
    }

    #parallax__nav li.title a {
        font-size: 2.8vw;
    }

    #parallax__nav li a {
        font-size: 2vw;
        padding: 0 13px;
    }

}

@media (max-width: 750px) {
    #section1 {
        height: 60vh;
        margin-bottom: 0;
    }

    #profil__img {
        display: none;
    }

    #parallax__nav li a {
        padding: 6px 6px;
        font-size: 2.8vw;
    }
}

@media (max-width: 480px) {
    #parallax__nav {
        display: flex;
        justify-content: center;
        left: 1rem;
        right: 1rem;
    }

    #section1 .tooltip .sticker {
        display: none;
    }

    #section1 .desc {
        text-align: center;
        align-items: normal;
    }

    #section1 .desc p {
        font-size: 1.4vw;
    }
}


#section2 {
    width: 100%;
    height: 100vh;
}

#section2 .rollingbanner {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 8vw;
    font-weight: 700;
    color: var(--primarycolor);
}

#section2 .rollingbanner .wrap {
    font-family: "Montserrat";
    width: 100%;
}

#section2 .rollingbanner .banner01 {
    background-color: #9DECFA;
    padding: 4.5vh 0;
    transform: rotate(1.47deg);
}

#section2 .rollingbanner .wrap {
    display: flex;
}

#section2 .rollingbanner .icon1 {
    width: 130px;
    height: 130px;
    background-image: url(../img/star.svg);
}

#section2 .rollingbanner .banner02 {
    background-color: #FFADAD;
    padding: 4.5vh 0;
    transform: rotate(-0.33deg);
}

#section2 .rollingbanner .banner03 {
    background-color: #FFE375;
    padding: 4.5vh 0;
    transform: rotate(1.33deg);
}

#section3 {
    position: relative;
    width: 100%;
    padding: 0 10vw;
    margin-top: 30vh;
}

#section3 .tag {
    position: relative;
    top: -0.8vw;
    display: inline-flex;
    align-items: center;
    padding: 0.3vw 1vw;
    border-radius: 80px;
    background-color: #FFADAD;
    margin: 0 50px;
}

#section3 .tag__icon01 {
    background-image: url(../img/heart.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1.8vw;
    height: 1.6vw;
    margin-right: 0.2vw;
}

#section3 .tag .tag__text01 {
    color: var(--primarycolor);
    font-size: 2vw;
    font-weight: 700;
    font-family: "Nunito";
}

#section3 .target p {
    color: var(--primarycolor);
    font-family: "Netmarble";
    font-size: 4vw;
    word-break: keep-all;
}

#section3 .target>p {
    display: inline-block;
}

#section3 .target p em.highlight01 {
    position: relative;
}

#section3 .target p em.highlight01::before {
    position: absolute;
    content: '';
    width: 7.2vw;
    height: 4.4vw;
    z-index: -1;
    top: 0.2vh;
    left: -0.1vw;
    transform: rotate(-0.5deg);
    background-color: #FFADAD;
    border-radius: 15px;
}

#section3 .target p em.highlight02 {
    position: relative;
}

#section3 .target p em.highlight02::before {
    position: absolute;
    content: '';
    width: 29.8vw;
    height: 4.3vw;
    z-index: -1;
    top: 0.2vh;
    left: -0.1vw;
    transform: rotate(-0.5deg);
    background-color: #9DECFA;
    border-radius: 15px;
}


.polaroidphoto {
    margin-top: 10vw;
    position: relative;
    width: 33vw;
    height: 40vw;
    padding: 0.5vw;
    background-color: #fff;
    border-radius: 30px;
    margin-bottom: 10vw;
}

.polaroidphoto::before {
    position: absolute;
    top: 2vw;
    left: 2vw;
    content: '';
    background-color: #000;
    border-radius: 38px;
    width: 29vw;
    height: 29vw;
    z-index: 1;
}

.polaroidphoto::after {
    position: absolute;
    content: 'Incredorable';
    bottom: 2vw;
    right: 2vw;
    font-family: "Dancing Script";
    font-size: 3vw;
    color: var(--primarycolor);
}

#section3 .window {
    position: absolute;
    z-index: 2;
    top: 37vw;
    right: 13vw;
}

#section3 .window-container {
    position: relative;
    background-color: #FFE375;
    padding: 12vw 25vw;
    border-radius: 40px;
    overflow: hidden;
}

#section3 .window-container::before {
    position: absolute;
    content: '';
    opacity: 0.5;
    filter: blur(3px);
    mix-blend-mode: multiply;
    inset: 0;
    border-bottom: 1rem solid #FFD755;
}

#section3 .window-container::after {
    position: absolute;
    content: '';
    opacity: 0.5;
    mix-blend-mode: multiply;
    border-top: 4.8vw solid #FFD755;
    inset: 0;
}

#section3 .window-container .window-bar {
    width: 100%;
    border-radius: 40px 40px 0px 0px;
}

#section3 .window-bar .window-tag {
    position: absolute;
    left: 0;
    top: 0;
    width: 2vw;
    height: 1vw;
    background-color: #FFE375;
}

#section3 .window-bar .window-tag span {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1.2vw;
    margin-top: 1.2vw;
    padding: 0.2vw 2.3vw;
    background-color: #FFE375;
    border-radius: 50px;
    z-index: 2;
    display: flex;
    color: var(--primarycolor);
    font-size: 1.3vw;
    font-family: 'Nunito';
    align-items: center;
}

#section3 .window-tag .hi__icon {
    background-image: url(../img/hi.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 1.4vw;
    height: 1.4vw;
    display: block;
    margin-left: 0.4vw;
    transform: rotate(-22deg)
}

#section4 {
    width: 100%;
}

#section4 .rollingbanner {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 8vw;
    font-weight: 700;
    color: var(--primarycolor);
    margin-bottom: 5vw;
}

#section4 .rollingbanner .wrap {
    font-family: "Montserrat";
    width: 100%;
}

#section4 .rollingbanner .banner01 {
    background-color: #9DECFA;
    padding: 4.5vh 0;
    transform: rotate(1.47deg);
}

#section5 {
    width: 100%;
    height: 120vh;
    position: relative;
}

#section5 .window-container .window-bar {
    width: 100%;
    border-radius: 40px 40px 0px 0px;
}

#section5 .window-bar .window-tag {
    position: absolute;
    left: 0;
    top: 0;
    width: 2vw;
    height: 1vw;
    background-color: #FFE375;
}

#section5 .window-bar .window-tag span {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1.2vw;
    margin-top: 1.2vw;
    padding: 0.2vw 2.3vw;
    background-color: #FFE375;
    border-radius: 50px;
    z-index: 2;
    display: flex;
    color: var(--primarycolor);
    font-size: 1.3vw;
    font-family: 'Nunito';
    align-items: center;
}